
body {
    background-color: rosybrown;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
nav ul {
list-style: none;
display: flex;
justify-content: center;
gap: 30px;
padding: 15px;
border-bottom: 2px solid #000;
}
nav a {
    text-decoration: none;
    color: rgb(13, 76, 164);
    font-weight: bold;
}
form{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
form input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
}
h1 {
    text-align: center;
    margin: 20px 0;
}
p {
    max-width: 800px;
    margin: 0 auto 40px;
    text-align: center;
}
section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-bottom: 40px;
}
section:nth-of-type(1) img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 1px solid #000;
}
section:nth-of-type(2) {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-bottom: 40px;
}
section:nth-of-type(2) video {
    width: 200px;
    height: 120px;
    border: 1px solid #000;
}
section:nth-of-type(3) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
table {
    width: 350px;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
caption {
    font-weight: bold;
    margin-bottom: 10px;
}